<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://raw.github.com/daneden/animate.css/master/animate.css">
    <script src="http://cn.vuejs.org/js/vue.min.js"></script>
</head>
<body>
	<h1>404 Not Find</h1>
</body>
</html>